header{
  background: url("../img/indianflag.gif") scroll repeat ;
  background-size:cover;
  padding: 10px;
color:white;
text-align: center;
}
nav ul{
 	list-style-type: none;
 	padding: 0;
 	margin: 0;
 }
 nav ul li{
 	float:left;
 }
 nav ul li a{
 	text-decoration: none;
 	color: lightblue;
 	padding: 15px;25px;
 	display: inline-block;
 	font-size: 18px;
 }
 nav ul li a:hover{
 	background-color: #636a46;
 }
 nav ul li a.active{
 	background-color:lightblue;
nav ul li a{
 	text-decoration: none;
 	color: white;
 	padding: 15px;25px;
 	display: inline-block;
 	font-size: 18px;
 }
h1{
    font-family: 'Open Sans', sans-serif;
    color: rgb(3, 169, 244);
}
h2{
    background-color:rgb(151, 127, 95);
    text-align:center;
        color:white;
        padding:10px;
        font-family: 'Open Sans', sans-serif;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        color:rgb(00,00,00);
    }
    nav{
      background-color:#182020;
      color:white;
        text-align: center;
    }
    body{
        background-color: antiquewhite;
    }
